* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 60%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content {
    margin-left: 2rem;
}
